{{ partial "head-with-lateral.html" . }}
    <div class="page-content">
        <div class="align-center">
            {{if and .Params.image (ne .Params.image "")}}
                <a href="{{.Params.image}}" target="_blank">
                    <div style="background-image:url( {{ .Params.image }} )" class="blog-image bigger"></div>
                </a>
            {{ end }}

            <div class="created-on">Created on:</div>
            <div class="created-on font">
                {{.Date.Format "January 2, 2006"}}
            </div>
            <h1 class="blog-title">
                {{.Title}}
            </h1>
        </div>

        <div>
            <div class="w-richtext">
                {{ .Content }}
            </div>
        </div>

        <div class="space-divider"></div>
        <div class="align-center">
            <a href="pdf/Curriculum.pdf" class="button red-color w-inline-block w-clearfix" target="_blank">
                <div class="icon-button"></div>
                <div class="button-text">Download my CV</div>
            </a>
            <a href="/hire-me" class="button w-inline-block w-clearfix">
                <div class="button-text">Hire me!</div>
            </a>
        </div>
        <div class="space-divider"></div>
        <div class="align-center">
            <a href="/blog" class="button w-inline-block w-clearfix">
                <div class="button-text"><i class="fa fa-arrow-left"></i> Back to My Blog</div>
            </a>
        </div>
    </div>
{{ partial "footer-with-lateral.html" . }}
