<a class="w-dyn-item" href="{{ .Permalink }}">
    <div class="education-wrapper">
        <div class="w-row">
            <div class="w-col w-col-2">
                <div style="background-image:url( {{ .Params.icon }} )" class="university-photo"></div>
            </div>
            <div class="w-col w-col-3">
                <div>
                    <div class="education-name">{{ .Title }}</div>
                </div>
            </div>
            <div class="w-col w-col-7">
                <div>
                    <div class="education-name"> {{ .Params.description }}</div>
                </div>
            </div>
        </div>
    </div>
</a>
