{{ partial "head-with-lateral.html" . }}
        <div class="page-content">
            <div class="title-wrapper">
                <h3 class="resume-title">01. About me</h3>
            </div>
            <div>
                <p>{{ .Site.Params.home.aboutme | safeHTML }}</p>
            </div>
            <div class="space-divider"></div>

            <div class="title-wrapper">
                <h3 class="resume-title"><a href="/blog">02. Latest Blog Post</a></h3>
            </div>
            <div>
                <div class="w-dyn-list">
                    <div class="w-dyn-items">
                        {{ range first 1 (where .Site.RegularPages "Type" "blog") }}
                            {{ partial "blog-list-item.html" . }}
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="space-divider"></div>

            <div class="title-wrapper">
                <h3 class="resume-title">03. Professional Skills</h3>
            </div>

            {{ range .Site.Params.home.skills }}
                {{ $skillScope := . }}
                <div>
                    {{ range .content }}
                    <div class="skills-content">
                        <div class="skills-name">{{ .name }}</div>
                        <div class="skills-wrapper {{ $skillScope.coding }}-color">
                            <div class="skillis-percent {{ $skillScope.color }}-color" style="width: {{ .percentage }}%;"></div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <div class="space-divider"></div>
            {{ end }}

            <div class="title-wrapper">
                <h3 class="resume-title"><a href="/education">04. Education</a></h3>
            </div>
            <div>
                <div class="w-dyn-list">
                    <div class="w-dyn-items">
                        {{ range (where .Site.RegularPages "Type" "education") }}
                            {{ partial "education.html" . }}
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="space-divider"></div>

            <div class="title-wrapper">
                <h3 class="resume-title"><a href="/certification">05. Certifications</a></h3>
            </div>
            <div>
                <div class="w-dyn-list">
                    <div class="w-dyn-items">
                        {{ range (where .Site.RegularPages.ByTitle "Type" "certification") }}
                            {{ partial "education.html" . }}
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="space-divider"></div>

            <div class="title-wrapper">
                <h3 class="resume-title">
                    <a href="/workexperience">06. Work experience</a>
                </h3>
            </div>
            <div>
                <div class="w-dyn-list">
                    <div class="w-dyn-items">
                        {{ range (where .Site.RegularPages "Type" "workexperience") }}
                            {{ partial "workexperience.html" . }}
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="space-divider"></div>
            <div class="title-wrapper">
                <h3 class="resume-title"><a href="/service">07. My Services</a></h3>
            </div>
            <div>
                <div data-animation="slide" data-duration="500" data-infinite="1" data-nav-spacing="4" class="services-slide w-slider">
                    <div class="w-slider-mask">
                        {{ $serviceList := (where .Site.RegularPages "Type" "service")}}
                        {{ $serviceLength := (len $serviceList) }}
                        {{ $slideCount := 1 }}

                        {{ range $index, $element := $serviceList }}
                            {{ if (eq $slideCount 1) }}
                                <div class="w-slide">
                                    <div class="w-row">
                            {{ end }}

                                        {{ partial "service-slide.html" . }}

                            {{ if or (eq (add $index 1) $serviceLength) (eq $slideCount 2)}}
                                    </div>
                                </div>
                                {{ $slideCount = 1 }}
                            {{ else }}
                                {{ $slideCount = (add $slideCount 1)}}
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
                </div>
            </div>
            <div class="space-divider"></div>
            <div class="line-divider"></div>
            <div class="align-center">
                <a href="pdf/Curriculum.pdf" class="button red-color w-inline-block w-clearfix" target="_blank">
                    <div class="icon-button"></div>
                    <div class="button-text">Download my CV</div>
                </a>

                <a href="/hire-me" class="button w-inline-block w-clearfix">
                    <div class="button-text">Hire me!</div>
                </a>
            </div>
        </div>
{{partial "footer-with-lateral.html" . }}
