{{ partial "head-with-lateral.html" . }}
    <div class="page-content">
        <div class="title-wrapper">
            <h3 class="resume-title">
                <a href="/certification">Certifications</a>
            </h3>
        </div>
        <div>
            <div class="w-dyn-list">
                <div class="w-dyn-items">
                    {{ range (where .Site.RegularPages.ByTitle "Type" "certification") }}
                        {{ partial "education-no-date.html" . }}
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="space-divider"></div>
        <div class="align-center">
            <a href="pdf/Curriculum.pdf" class="button red-color w-inline-block w-clearfix" target="_blank">
                <div class="icon-button"></div>
                <div class="button-text">Download my CV</div>
            </a>
        </div>
    </div>
{{ partial "footer-with-lateral.html" . }}
